# Ignore Python cache files
__pycache__/
*.pyc

# Ignore VS Code settings
.vscode/

# Ignore environment files
.env
Notes
email.json

# Ignore dependencies
venv/

# Ignore OS-specific files
.DS_Store
Thumbs.db
